body {
  background-color: #2b2a33;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container-of-logo-and-search-bar {
  width: 200px;
  height: 100%;
  margin: auto;
  padding: 15px;
}

.firefox-holder {
  display: flex;
  padding: 0 15px 0 15px;
}

.title {
  color: white;
  margin: auto;
  font-size: 31px;
  padding: 0 0 0 15px;
}

.logo-size {
  width: 64px;
  height: 64px;
}

.space-box {
  content: "";
  width: 32px;
  height: 16px;
}

.setting-container {
  float: right;
  margin: 15px 15px 0 0;
}

.search-input {
  margin-top: 50px;
  position: relative;
}

.search-input input {
  background-color: #525357;
  border-radius: 5px;
  border: none;
  padding: 15px;
}

.search-input img {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.google-img {
  background-color: white;
  border-radius: 2rem;
  padding: 2px;
}
