body {
  background-color: #2b2a33;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container-of-logo-and-search-bar {
  width: 200px;
  height: 100%;
  margin: auto;
  padding: 15px;
}

.firefox-holder {
  display: flex;
  padding: 0 15px 0 15px;
}

.title {
  color: white;
  margin: auto;
  font-size: 31px;
  padding: 0 10px 0 5.9px;
}

.logo-size {
  width: 64px;
  height: 64px;
}

.space-box {
  content: "";
  width: 32px;
  height: 16px;
}

.setting-container {
  float: right;
  margin: 15px 15px 0 0;
}

.search-input input {
  background-color: #525357;
  border-radius: 5px;
  border: none;
  padding: 15px;
  width: 70%;
  background-image: url(/img/google2.png);
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-top: 50px;
}

/* web selector */
.content-box {
  width: 250px;
  margin: 20px auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.app-holder {
  margin: 20px auto;
  padding: 0px;
}

.app-container {
  padding: 20px;
  list-style-type: none;
}
